# Operating System Files  

*.DS_Store
Thumbs.db

# eclipse specific git ignore
*.pydevproject
.metadata
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch


build/
target/
bin/
classes/

# Java class files
*.class